.about {
    margin-top: -2rem;
}

.about h1 {
text-align: center;
}

.container {
    background-color: #f4f4f4;
}


#hello {
    font-weight: bold;
    color: #000;
    
    line-height: 2.5rem;
}

.feature {
    width: 90vw;
    margin: auto;
    display: flex;
    flex-direction: column;
}
