@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.sliderContainer {
  margin: 0 auto;
  width: 60vw;
  position: relative;
}

.slide {
  height: 60vh;
  position: relative;
}

.heroImg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: auto;
  height: 100%;
  z-index: -1;
}

#right {
  position: absolute;
  top: 40%;
  right: -5vw;
  transform: rotate(270deg);
  font-family: "Overpass", sans-serif;
  color: #888888;
}

#left {
  position: absolute;
  top: 40%;
  left: -5vw;
  transform: rotate(90deg);

  font-family: "Overpass", sans-serif;
  color: #888888;
}
