.sliderContainer {
  margin: 0 auto;
  width: 85vw;
  position: relative;
 
}

.slide {
  height: 60vh;
  margin: auto;
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
text-align: center;
}

.slide h1 {
  margin: 0;
  padding: 0;
  
}

.slide h4 {
  margin: 0;
  padding: 0;
}

#right {
  position: absolute;
  top: 40%;
  right: -60px;
  transform: rotate(270deg);
  font-family: "Overpass", sans-serif;
  color: #888888;
}

#left {
  position: absolute;
  top: 40%;
  left: -75px;
  transform: rotate(90deg);

  font-family: "Overpass", sans-serif;
  color: #888888;
}

.about {
  width: 85vw;
  margin: 0 auto 1.5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bigText {
  font-family: Overpass;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 2rem;
  color: #2b2b2b;
}

.littleText {
  font-family: Overpass;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #2b2b2b;
  margin-top: -2rem;
}

.logoContainer {
  /* background: #f8f8f8; */
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logos {
  width: 96vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.logo {
  width: 30%;
  height: auto;
  margin: 1vw;
  position: relative;
  
}

.logo img {
  cursor: pointer;
}

.logo  :hover {
  filter: grayscale(100%);
  
}

/* .logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: white;
  filter: grayscale(100%);
} */

.projects h3 {
  text-align: center;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 85vw;
  margin: auto;
  padding: 2rem 0;
}

.project h5 {
  margin: 0;
  font-size: 1.1rem;
}

.project p {
  margin: 0;
  padding: 1rem 0;
}

.project a {
  color: #e42727;
}

.project img {
  width: 100%;
  height: 25vh;
  object-fit: cover;
  margin-top: 1rem;
}



@media (min-width: 600px) {
  #right {
    right: -61px;
  }

  #left {
    left: -75px;
  }

  .sliderContainer {
    width: 65vw;
  }

  .about {
    width: 65vw;
  }

  .logo {
    width: 20%;
  }
}

@media (min-width: 700px) {

  .project {
    flex-direction: row;
    
  }

  #vfc {
    flex-direction: row-reverse;
  }

  #vfc .p_text {
    margin: 5rem 0 0 -4rem;
  }

  .p_text {
    width: 50%;
    border: 2px solid #eee;
    padding: 1rem;
    margin: 5rem -4rem 0 0;
    background-color: white;
    z-index: 99;
  }
  
}

@media (min-width: 1000px) {
  .about {
    width: 65vw;
    margin: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .bigText {
    font-size: 2rem;
    line-height: 2rem;
  }

  .littleText {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #2b2b2b;
    margin-top: -1.5rem;
    padding: 0 2rem;
  }

  .logos {
    width: 70vw;
    margin: 0 auto;
    justify-content: center;
  }

  .logo {
    width: 12%;
  }

  .project {
    width: 60vw;
  }
}

@media (min-width: 1500px) {
  .project {
    max-width: 900px;
  }

  .p_text {
    margin: 8rem -4rem 0 0;
  }

  #vfc .p_text {
    margin: 8rem 0 0 -6rem;
  }
}
