.navContainer {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 85vw;
  align-items: center;
  margin-bottom: 4vh;
  border-bottom: 1px solid #eee;
}

/* this is super gross and had to be reversed for useEffect to work - rebuild with material ui or something like that for future */

.no_nav ul {
  width: 50vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8vh;
  background: white;
  z-index: 99;
}

.no_nav li {
  padding: 1rem 0;
}

.nav ul {
  display: none;
}

.logo img {
  padding: 0;
  margin: 0;
  width: 15vw;
  height: auto;
}

.contactIcon {
  display: none;
}

/* footer ------------------- */

.footer {
  width: 100vw;
  background-color: #242729;
  color: white;
}

.footer h3 {
  text-align: center;
  font-size: 5.5rem;
  color: #242729;
  -webkit-text-stroke: 1px white;
  padding-top: 2rem;
  margin: 0;
}

.footer h6 {
  font-size: 1.2rem;
  text-align: center;
  margin-top: -1.5rem;
}

.form {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.form input {
  border: 2px solid #242729;
  background: #f8fafc;
  border-radius: 4px;
  width: 100%;
  height: 5vh;
  color: #b8bcca;
  font-family: "DM Sans", sans-serif;
  padding: 1rem;
  margin: 0.5rem 0;
}

.form input:focus {
  color: black;
  outline: none;
  border-bottom: 3px solid #e42727;
}

.form textarea {
  border: 2px solid #242729;
  background: #f8fafc;
  border-radius: 4px;
  width: 100%;
  height: 10vh;
  color: #b8bcca;
  font-family: "DM Sans", sans-serif;
  padding: 0.5rem 1rem;
}

.form button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 23px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  color: white;
  background: #242729;
  padding: 0.5rem 1rem;
  align-self: flex-end;
  margin: 1rem 0;
}

.topForm {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 600px) {
  .nav ul {
    display: flex;
    position: unset;
    flex-direction: row;
    max-width: 25vw;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
  
  }

  .no_nav ul {
    display: none;
  }

  .logo img {
    width: 10vw;
  }

  .toggle {
    display: none;
  }

  .contactIcon {
    display: flex;
  }
}

@media only screen and (min-width: 1000px) {
  .nav ul {
    width: 30vw;
  }

  .logo img {
    width: 5vw;
  }

  .topForm {
    flex-direction: row;
    width: 100%;
    
  }

  .name, .email {
    width: 50%;
  }

  .form {
    width: 45vw;
  }
  
}
