.navContainer {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 85vw;
  align-items: center;
  margin-bottom: 4vh;
  
}

.close_nav {
  position: absolute;
  top: 3vh;
  right: 5vh;
}

.nav ul {
  transform: translateX(100vw);
}

.open_nav ul {
  border: 2px solid #acacac;
  background: white;
  width: 70vw;
  height: 99vh;
  transform: translateX(1px);
  position: absolute;
  top: 1px;
  right: 1px;
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
 
}

.open_nav li {
  padding: 2rem 0;
}

.logo img {
  padding: 0;
  margin: 0;
  width: 15vw;
  height: auto;
}

.contactIcon {
  display: none;
}

/* footer ------------------- */

.footer {
  width: 100vw;
  /* background-color: #242729; */
  background-color: #eee;
  color: white;
}

.footer h3 {
  text-align: center;
  font-size: 5.5rem;
  color: #eee;
  -webkit-text-stroke: 1px #75C4AE;
  padding-top: 2rem;
  margin: 0;
}

.footer h6 {
  font-size: 1.2rem;
  text-align: center;
  margin-top: -1.5rem;
}

.form {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.form label {
  color: #2b2b2b;
}

.form input {
  border: 2px solid #eee;
  background: #eee;
  border-radius: 4px;
  width: 100%;
  height: 5vh;
  color: #b8bcca;
  font-family: "DM Sans", sans-serif;
  padding: 1rem;
  margin: 0.5rem 0;
  border-bottom: 1px solid rgb(100, 100, 100);
}

.form input:focus {
  color: black;
  outline: none;
  border-bottom: 3px solid #75C4AE;
}

.form textarea {
  border: 2px solid #eee;
  background: #eee;
  border-bottom: 1px solid rgb(100, 100, 100);
  border-radius: 4px;
  width: 100%;
  height: 10vh;
  color: #b8bcca;
  font-family: "DM Sans", sans-serif;
  padding: 0.5rem 1rem;
}

.form textarea:focus {
  border-bottom: 3px solid #75C4AE;
}

.form button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid #ddd;
  box-sizing: border-box;
  border-radius: 3px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  color: #75C4AE;
  background:  none;
  padding: 0.5rem 1rem;
  align-self: flex-end;
  margin: 1rem 0;
  cursor: pointer;
}

.form button:hover {
  border: 2px solid #75C4AE;
}


.topForm {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 600px) {
  .nav ul {
    display: flex;
    position: unset;
    flex-direction: row;
    width: 25vw;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
    transform: translateX(0vw);
  }

  .close_nav {
    display: none;
  }

  .logo img {
    width: 10vw;
  }

  .toggle {
    display: none;
  }

  .contactIcon {
    display: flex;
  }
}

@media only screen and (min-width: 1000px) {
  .navContainer {
    width: 65vw;
  }

  .nav ul {
    width: 30vw;
  }

  .logo img {
    width: 5vw;
  }

  .topForm {
    flex-direction: row;
    width: 100%;
    
  }

  .name, .email {
    width: 50%;
  }

  .form {
    width: 65vw;
  }
  
}

@media only screen and (min-width: 1500px) {
.form {
  width: 55vw;
}
}
